# =========================
# 1. Data & Databases
# =========================
# تجاهل ملفات البيانات الخام حتى لا نرفع الـ 27 ألف صف على جيت هاب
*.csv
*.xlsx
Data

# تجاهل مجلد قاعدة البيانات المتجهة (مهم جداً لأن حجمها يزداد)
chroma_db_store/

# =========================
# 2. Python & Virtual Environments
# =========================
# تجاهل بيئات العمل الافتراضية
venv/
env/
.venv/

# تجاهل ملفات الكاش الخاصة ببايثون
__pycache__/
*.py[cod]
*$py.class

# =========================
# 3. IDEs & Notebooks
# =========================
# ملفات فيجوال ستوديو كود المخفية
.vscode/

# ملفات الكاش الخاصة بـ Jupyter Notebooks
.ipynb_checkpoints/

# =========================
# 4. Environment Variables
# =========================
# إذا استخدمتِ ملفات لحفظ كلمات السر أو الـ API Keys مستقبلاً
.env
Data
embeddings_cache/
